html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 50%;
    text-align: center;
    font-size: 2em;
}

.box1 {
    background-color: #AFEEEE; 
}

.box2 {
    background-color: #b269f1; 
}
